<div class="container" ng-controller="GenreBookController">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h3 class='text-center'>Add genre</h3>
      <div class="panel panel-default">
        <div class="panel-body">
          <form>
            <div class="form-group">
              <label for="name">Name</label>
              <input class="form-control" id="name" ng-model="genre.name">
            </div>
            <div class="form-group">
              <button class="btn btn-success btn-block" ng-click="add()">Add</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
